- provide :page_title, "Home"
.col-xs-12
  .text-center.heading
    %h1.text-center Welcome to Busker!
    %p Find songs, save into collections and sing!
  %hr/
  %h2
    Newest #{link_to "songs", songs_path, :id => "songs-link"}:
.col-xs-12
  - songs.each do |song|
    %h3= link_to "#{song.title}", song
    %p
      Author: #{link_to "#{song.author.name}", author_path(song.author.id), :class => "author-link"}
    %hr/
