<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :song_title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, id: :song_text, :class => "form-control", :rows => 8 %>
  </div>

  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, id: :song_author, :class => "form-control" %>
  </div>

  <% if current_user && session[:book_id] %>
    <div class="form-group">
        <%= form.label :book_id %>
        <%= form.collection_select(:book_id, @book, :id, :title, :class => "form-control")%>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
