- provide :page_title, @song.title
%h1
  = @song.title
%p
  %strong Author:
  = link_to "#{@song.author.name}", author_path(@song.author.id), :class => "author-link"
- if current_user.try(:admin?)
  = link_to 'Edit', edit_song_path(@song), :class => "btn btn-sm btn-default"
  = link_to 'Back', songs_path, :class => "btn btn-sm btn-default"
  = link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure you wanna delete '+ @song.title + ' ?' }, :class => "btn btn-sm btn-default"
- else
  = link_to 'Back', songs_path, :class => "btn btn-sm btn-default"
%button#smallestFont.btn.btn-sm.btn-default{:onclick => "smallestFont()", :type => "button"} A
%button#mediumFont.btn.btn-sm.btn-default{:onclick => "mediumFont()", :type => "button"} A
%button#largeFont.btn.btn-sm.btn-default{:onclick => "largeFont()", :type => "button"} A
#song-text-area
  %p
    = simple_format(@song.text)
