<% provide :page_title, @song.title %>

<h1>
  <%= @song.title %>
</h1>
<p>
  <strong>Author:</strong>
  <%= @song.author %>
</p>
<% if current_user %>
<%= link_to 'Edit', edit_song_path(@song), :class => "btn btn-sm btn-default" %>
<%= link_to 'Back', songs_path, :class => "btn btn-sm btn-default" %>
<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure you wanna delete '+ @song.title + ' ?' }, :class => "btn btn-sm btn-default" %>
<% end %>
<p>
  <%= simple_format(@song.text) %>
</p>
