<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Chordbooks</h1>
  <%= link_to 'New Book', new_book_path, :class => "btn btn-sm btn-default" %>
</div>
<hr>

<% @books.each do |book| %>
<div class="row">
  <h2><%= book.title %></h2>
  <h4><%= book.description %></h4>
  <td><%= link_to 'Show', book, :class => "btn btn-sm btn-default" %></td>
</div>
<% end %>
