<% provide :page_title, @book.title %>
<div class="col-xs-12">
<p>
  <h1>
    <%= @book.title %>
  </h1>
</p>

<h4>
  <%= @book.description %>
</h4>

<%= link_to "Add songs", songs_path , :class => "btn btn-sm btn-info" %>
<%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %>
<%= link_to 'Edit', edit_book_path(@book), :class => "btn btn-sm btn-default" %>
<%= link_to 'Export to PDF', export_to_pdf_path(@book, :format => :pdf), :class => "btn btn-sm btn-default" %>
<%= link_to 'Back', books_path, :class => "btn btn-sm btn-default" %>
<hr>
</div>
<div class="col-xs-12">
<h3>Songs in that songbook:</h3>
<% @book.songs.reverse.each do |song| %>
  <div class="col-xs-12">
    <h4><%= link_to song.title, song %>
      <%= link_to "Remove", book_path(:remove_song_from_book => song.id), :class => "btn btn-sm btn-warning" %>
    </h4>
    <p>
      Author: <%= link_to "#{song.author.name}", author_path(song.author.id), :class => "author-link"%>
    </p>
  </div>
<% end %>
