<div class="row">

<p id="notice"><%= notice %></p>

<p>
  <h1>
    <%= @book.title %>
  </h1>
</p>

<h4>
  <%= @book.description %>
</h4>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<hr>
</div>
<div class="row">
<h3>Songs in that chordbook:</h3>
</div>
<% @book.songs.each do |song| %>
  <div class="row">
    <h4><%= link_to song.title, song %></h4>
    <p><%= song.author %></p>
  </div>
  <% end %>
