<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %> | Busker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
           <%= render 'layouts/navbar' %>
        </div>
        <div class="container">
          <div class="col-sm-9 col-lg-10">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  document.getElementById('chordbook').onclick = function(){
    alert("Only availible for registered users.");
  };
  </script>
</html>
